"""Requirements File for LangChain and Streamlit Applications

This file lists the libraries and dependencies required to run the LangChain and Streamlit-based applications 
in this project. The dependencies should be installed in the Python environment (e.g., `myenv`) where the project 
is being executed.

DELETE these comments prior to installation.

Installation:
-------------
Run the following command inside the desired environment to install all dependencies:

    pip install -r requirements.txt
"""

openai
langchain-openai
langchain-core
python-dotenv
langchain_community
bs4
pypdf
chromadb
faiss-cpu